.fa-hamburger {
    font-size: 2.5em;
}

.fab {
    color: black;
    padding: 10px;
    font-size: 1.5em;
}

.fa {
    color: black;
    padding: 10px;
    font-size: 1.5em;

}

.navbar {
    font-size: 1.5em;
    margin-bottom: 2em;
    background-color: rgba(62, 78, 80, 1);
}

.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

.burger-image {
    border-radius: 5%;
    width: 350px;
    margin: 1em;
}

.burger-logos {
    border-radius: 5%;
    width: 100px;
    margin: 1em;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}

.input-box {
    padding: 10px;
    margin: 10px 100px 10px 100px;
    background-color: #dee0df;
    font-size: 16px;
    border-style: none;

}

.submit-button {
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 16px;
    background-color: #dee0df;
    border-style: none;


}

.submit-button:hover {
    background-color: green;
}


.form-head {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    text-align: justify;
    font-size: 32px;

}

.container-fluid {

    display: flex;
    justify-content: space-evenly;

}

.flex-container {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bio {

    display: flex;
    justify-content: center;
    margin-top: 1em;
    text-align: justify;
    font-size: 1em;

}

.bio-head {

    font-size: 5em;
    text-align: center;
}

.bio-text {

    font-size: 2em;
    text-align: center;
    margin: 1em;


}


body {
    background-color: rgba(250, 207, 173, 1);
}

.recipe-image {
        
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 600px) {
        flex-container {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 300px) {
        body {
            background-color: black;
        }
    }

    .mapouter {
        position: relative;
        text-align: right;
        height: 350px;
        width: 400px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 350px;
        width: 400px;
    }

    /* RGB 
$color1: rgba(62, 78, 80, 1);
$color2: rgba(250, 207, 173, 1);
$color3: rgba(248, 189, 127, 1);
$color4: rgba(245, 172, 114, 1);
$color5: rgba(242, 170, 126, 1);
*/